<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body data-set-preferred-mode-onload="true" class="page-wrapper with-navbar">
        <%- include('../includes/navigation.ejs') %>
        <main class="content-wrapper">
            <div class="content">
                <form action="/login" method="POST" class="mw-full" >
                    <div class="form-group">
                        <% if(errorMessage){ %> 
                          <div class="error-message"><%=errorMessage%></div>
                          <% } %>  
                    </div>
                    <div class="form-group"> 
                                <label for="email">User/Email</label>
                                <input 
                                required="required"
                                class="<%=validationErrors.find(e=> e.param==='email')?'invalid':''%> form-control"
                                type="text" 
                                name="email" 
                                id="email"
                                value="<%=oldInput.email%>">
                    </div>
                          <div class="form-group">
                                <label for="password">Password</label>
                                <input 
                                class="<%=validationErrors.find(e=> e.param==='password')?'invalid':''%> form-control"
                                type="password" 
                                name="password" 
                                id="password"
                                value="<%=oldInput.password%>">
                          </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <button class="btn btn-outline-primary btn-lg" type="submit">Login</button>
                        <div id="reset-btn">
                            <a href="/reset" class="btn btn-warning btn-lg" role="button" >Reset Password</a>
                        </div>
                    </form>
            </div>
           </main>     


    <%- include('../includes/end.ejs') %>





