<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   
   <main class="login-main">
        <% if(errorMessage){ %> 
            <div class="error-message"><%=errorMessage%></div>
            <% } %> 
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control login-item">
                <label for="email">E-Mail</label>
                <input 
                class="<%=validationErrors.find(e=> e.param==='email')?'invalid':''%>"
                type="email"
                name="email" 
                id="email" 
                value="<%=oldInput.email%>">
            </div>
            <div class="form-control login-item">
                <label for="password">Password</label>
                <input 
                class="<%=validationErrors.find(e=> e.param==='password')?'invalid':''%>"
                type="password" 
                name="password" 
                id="password" 
                value="<%=oldInput.password%>">
            </div>
            <div class="form-control login-item">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                class="<%=validationErrors.find(e=> e.param==='confirmPssword')?'invalid':''%>"
                type="password" 
                name="confirmPassword" 
                id="confirmPassword" 
                value="<%=oldInput.confirmPassword%>">
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button class="btn" type="submit">SignUP</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>