<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">

    </head>

    <body data-set-preferred-mode-onload="true">
        <%- include('../includes/navigation.ejs') %>

        <div class="content-wrapper">
            <% if(errorMessage){ %>
                <div class="error-message">
                    <%=errorMessage%>
                </div>
                <% } %>
                    <main class="content">
                        <form action="/admin/<%if(editing){%>editProduct<%}else{%>addProduct<%}%>"
                            method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title" class="form-control"
                                    value="<%if(editing || hasError){%><%=prod.title%><%}%>">
                            </div>
                            <!-- <div class="form-control">
                                <label for="image">Image</label>
                                <input type="file" name="image" id="image">
                            </div> -->
                            <div class="form-group">
                                <label for="imgUrl">Image URL</label>
                                <input type="text" name="imgUrl" id="imgUrl" class="form-control"
                                    value="<%if(editing||hasError){%><%=prod.imgUrl%><%}%>">
                            </div>
                            <div class="form-group" >
                                <label for="price">Price</label>
                                <!-- Be CareFull about speaces in value field if tyoe is Number -->
                                <input type="number" name="price" id="price" step="0.01" class="form-control"
                                    value="<%if(editing||hasError){%><%=prod.price%><%}%>">
                            </div>
                            <div class="form-group" >
                                <label for="description">Description</label>
                                <textarea name="description" id="description" class="form-control"
                                    rows="5"><%if(editing||hasError){%><%=prod.description%><%}%></textarea>
                            </div>
                            <%if(editing){ %>
                                <input type="hidden" value="<%=prod._id%>" name="productId">
                                <%}%>
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <button class="btn btn-success" type="submit" class="form-control">
                                        <%if(editing||hasError){%>Update Product<%}else{%>Add Product<%}%>
                                    </button>
                        </form>
                    </main>
        </div>

                    <%- include('../includes/end.ejs') %>