<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/admin.js"></script>

    </head>
    <body data-set-preferred-mode-onload="true">

        <%- include('../includes/navigation.ejs') %>

            <main class="content-wrapper">
                <% if(prods.length> 0) { %>
                    <div class="gridBox">
                        <% prods.forEach((prod)=>{ %>
                            <article class="card w-md-quarter h-md-quarter text-center">
                                    <h1 class="card-title">
                                        <%=prod.title %>
                                    </h1>
                                <div class="card__image">
                                    <img src="<%=prod.imgUrl%>" alt="<%=prod.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="card-title">₹<%=prod.price%>
                                    </h2>
                                    <p class="product__description">
                                        <%=prod.description%>
                                    </p>
                                </div>
                                <div class="card__actions">
                                        <a class="btn btn-primary" href="/admin/editProduct/<%=prod._id%>?edit=true" role="button">Edit</a>
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="productId" value="<%=prod._id%>">
                                        <button type="button" class=" delete-btn btn btn-danger" >Delete</button>
                                </div>
                            </article>
                            <% }); %>
                    </div>
                    <% } else{ %>
                        <div class="no-order">
                            <h1>No Products Found!</h1>
                        </div>
                        <% } %>
            </main>

            <%- include('../includes/end.ejs') %>
 