<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cart.css">

    </head>
    <body>

        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(prods.length> 0) { %>
                    <div class="grid">
                        <% prods.forEach((prod)=>{ %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%=prod.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%=prod.imgUrl%>" alt="<%=prod.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$<%=prod.price%>
                                    </h2>
                                    <p class="product__description">
                                        <%=prod.description%>
                                    </p>
                                </div>
                                <div class="card__actions">
                                        <a class="btn" href="/admin/editProduct/<%=prod._id%>?edit=true" >Edit</a>
                                        <form class="form-delete" action="/admin/deleteProduct" method="POST">
                                            <button type="submit" class="btn" value="<%=prod._id%>" name="productId">Delete</button>
                                        </form>
                                </div>
                            </article>
                            <% }); %>
                    </div>
                    <% } else{ %>
                        <div class="no-order">
                            <h1>No Products Found!</h1>
                        </div>
                        <% } %>
            </main>

            <%- include('../includes/end.ejs') %>