<div class="page-wrapper with-navbar" >
    <!-- /*******************bootstrap Nov *******************************/ -->
    <nav class="navbar">
        <a href="/" class="navbar-brand text-secondary font-weight-bold">
            ISShop
        </a>
        <ul class="navbar-nav d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/products">Products</a>
            </li>
            <% if(isAuthenticated){ %>
                <li class="nav-item">
                    <a class="nav-link " href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/orders">Your Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/addProduct">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Admin Product</a>
                </li>
                <% } %>
        </ul>
        <div class="d-none d-md-flex ml-auto">
            <li class="nav-item">
                <button class="btn btn-light" type="button" onclick="halfmoon.toggleDarkMode()"><i
                        class="bi bi-moon-fill"></i></button>
            </li>
            <% if(!isAuthenticated){ %>

                <li class="nav-item">
                    <a href="/login" class="btn btn-success fw-bolder" role="button">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success fw-bolder" href="/signup">Signup</a>
                </li>
                <% }else{ %>

                    <li class='nav-item'>
                        <form action="/logout" method="post">
                            <button class="btn btn-danger" type="submit">Logout</button>
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        </form>
                    </li>
                    <% } %>
        </div>

        <div class="navbar-content d-md-none ml-auto">
            <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <div class="dropdown with-arrow">
                <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                    Menu <i class="bi bi-list"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                    <!-- w-200 = width: 20rem (200px) -->
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" aria-current="page" href="/products">Products</a>
                    <% if(isAuthenticated){ %>
                            <a class="nav-link " href="/cart">Cart</a>
                            <a class="nav-link " href="/orders">Your Orders</a>
                            <a class="nav-link" href="/admin/addProduct">Add Product</a>
                            <a class="nav-link" href="/admin/products">Admin Product</a>
                        <% } %>

                    <div class="dropdown-divider"></div>
                    <div class="dropdown-content">
                        <form>
                            <li class="nav-item">
                                <button class="btn btn-light" type="button" onclick="halfmoon.toggleDarkMode()"><i
                                        class="bi bi-moon-fill"></i></button>
                            </li>
                            <% if(!isAuthenticated){ %>
                
                                <li class="nav-item">
                                    <a href="/login" class="btn btn-success fw-bolder" role="button">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-success fw-bolder" href="/signup">Signup</a>
                                </li>
                                <% }else{ %>
                
                                    <li class='nav-item'>
                                        <form action="/logout" method="post">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <button class="btn btn-danger" type="submit">Logout</button>
                                        </form>
                                    </li>
                                    <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>





<!-- Without Bootstrap -->

<!-- <nav class="main-header__nav">
    <ul class="main-header__item-list">
        <li class="main-header__item">
            <a class="<%= path==='/' ? 'active':'' %>" href="/">Shop</a>
        </li>
        <li class="main-header__item">
            <a class="<%= path==='/products' ? 'active':'' %>" href="/products">Products</a>
        </li>
        <% if(isAuthenticated){ %>
            <li class="main-header__item">
                <a class="<%= path==='/cart' ? 'active':'' %>" href="/cart">Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path==='/orders' ? 'active':'' %>" href="/orders">Your Orders</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path==='/admin/addProduct' ? 'active':'' %>" href="/admin/addProduct">Add Product</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path==='/admin/products' ? 'active':'' %>" href="/admin/products">Admin Product</a>
            </li>
            <% } %>
    </ul>
    <ul class="main-header__item-list">
        <% if(!isAuthenticated){ %>

            <li class="main-header__item">
                <a href="/login" class="<%= path==='/login' ? 'active':'' %>">Login</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
            <% }else{ %>

                <li class="main-header__item">
                    <form action="/logout" method="post" class="logout-form">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </li>
                <% } %>
    </ul>
</nav> -->